<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="student">
	<insert id="insertStudent" parameterType="student">
		INSERT INTO STUDENT
		VALUES(SEQ_STUDENT.NEXTVAL,#{name},#{tel},#{email},#{addr},SYSDATE)
	</insert>
	<insert id="insertStudentMap" parameterType="map">
		INSERT INTO STUDENT
		VALUES(SEQ_STUDENT.NEXTVAL,
		#{student.name},
		#{student.tel},
		#{student.email},
		#{student.addr},SYSDATE)
	</insert>
	<select id="selectCount" resultType="_int">
		SELECT COUNT(*) FROM STUDENT
	</select>

	<select id="selectStudent" resultType="string"
		parameterType="_int">
		SELECT STUDENT_NAME FROM STUDENT WHERE STUDENT_NO =
		#{NO}
	</select>
	<select id="selectStudent2" resultType="map"
		parameterType="_int">
		<!-- SELECT STUDENT_NO AS NO, STUDENT_NAME AS NAME, STUDENT_TEL AS TEL, 
			STUDENT_EMAIL AS EMAIL, STUDENT_ADDR AS ADDR, REG_DATE -->


		SELECT * FROM STUDENT WHERE STUDENT_NO = #{NO}
	</select>
	<delete id="deleteStudent" parameterType="_int" >
		delete from student where student_no = #{no}
	</delete>
	<select id="selectList" resultType="student">
		SELECT * FROM STUDENT
	</select>
	<select id="selectMap" resultType="map">
		SELECT * FROM STUDENT
	</select>
<!-- 	<resultMap type="student" id="studentMap">
		<result column="student_no" property="no" />
		<result column="student_name" property="name" />
		<result column="student_tel" property="tel" />
		<result column="student_email" property="email" />
		<result column="student_addr" property="addr" />
	</resultMap> -->
</mapper>